<%= simple_form_for(@workbook) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :clientid %>
    <%= f.input :memberid %>
    <%= f.input :formid %>
    <%= f.input :formver %>
    <%= f.input :q001section %>
    <%= f.input :q001qlong %>
    <%= f.input :q001qshort %>
    <%= f.input :q001qatext %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
